<div class="container">
  <%= link_to "← ", chats_path %>

  <% if @chat.messages.empty? %><!-- Initial show page before first message -->
    <h1 id="chat_title">Hello.</h1>
  <% else %> <!-- Show page after first message -->
    <h1 id="chat_title"><%= @chat.title %></h1>
    <h2 id="category-subtitle"><%= @chat.category.nil? ? "-" : @chat.category.name  %></h2>
  <% end %>

  <div id="messages">
    <% @chat.messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
            <%= raw(render_markdown(message.content)) %>
          </div>
        </div>
      <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5">
          <div class="px-3 pb-0 pt-3">
            <%= raw(render_markdown(message.content)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="new_message_container">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, required: true, placeholder: "Type your first message", label: false, input_html: { class: "input-field" } %>

      <% if @chat.messages.empty? %><!-- Initial show page before first message -->
      <%= f.simple_fields_for @chat do |chat_form| %>
        <%= chat_form.input :category_id,
          as: :radio_buttons,
          collection: Category.all,
          label: "",
          item_wrapper_class: "category-item",
          input_html: { class: "category-checkbox" },
          item_label_class: "btn-secondary",
          wrapper_html: { class: "categories-grid" } %>
        <% end %>
      <% end %>

      <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
