<!--Hero Section (new)-->
<section>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= asset_path('banner_text_title.png') %>');">
    <div class="container align">
      <div>
        <h1></strong>Your AI Is Powerful. Your Prompts Probably Aren’t.</strong></h1>
        <p></strong>Transform your prompts before ChatGPT, Claude, or Gemini
        — so you get sharper reasoning and elite-level output.</strong></p>
      </div>
      <div class="">
        <a class="btn btn-primary mb-1" href=<%= new_user_session_path %> %>Start Free — Optimize Your AI</a>
        <!--Note-->
        <p></strong>Built for power users who demand the best.</strong></p>
      </div>
    </div>
  </div>
</section>

<!--Problem Section-->
<section>
  <div class="container cards-align">
    <h1 class=pt-3>You’re Good at AI. But You’re Still Leaving Output on the Table.</h1>
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('intent.png') %>')">
      Identifies Key Context
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('key_context.png') %>')">
      Clarifies Objectives
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('objectives.png') %>')">
      Optimizes for Depth
        </div>
      </div>
    <h3>Then sends your Luminary prompt to your AI of choice.</h3>
  </div>
</section>

<!--How It Works Section-->
<section class=pt-5>
  <h1>How Luminary Works</h1>
    <div>
      <h2>1. Submit Your Initial Prompt</h2>
      <p>"Create a marketing strategy for my SaaS product."</p>
    </div>
    <div>
      <h2>2. Luminary Gives You an Enhanced, Modifiable Prompt</h2>
      <p>
        <li>
          <ul>Target: B2B HR leaders
           <ul>   Goal: Increase demo bookings
           <ul>   Budget: $50/month
           <ul>   Channels: LinkedIn & Paid Social
           <ul>Deliverable: 90-Day Action Plan
</p>
    </div>
    <div>
      <p>Identifies Key Context</p>
    </div>
    <div>
      <p>Clarifies Objectives</p>
    </div>
    <div>
      <p>Optimizes for Depth</p>
    </div>
  <!--Note-->
  <p>Then sends your Luminary prompt to your AI of choice.</p>
</section>
