<!DOCTYPE html>
<html>
  <head>
    <title>PromptApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" unless @show_sidebar %>
    <%= render "shared/flashes" %>
    <!-- A div where we will separate the instance of sidebar showing -->
    <div class="page-wrapper <%= "with-sidebar" if @show_sidebar %>">
      <% if @show_sidebar %>
        <%= render "shared/sidebar" %>
      <% end %>
      <main class="main-content">
        <%= yield %>
      </main>
    </div>
    <!-- Feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>feather.replace()</script>
  </body>
</html>
